// Header

.container-1 {
  background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
h1,
h2,
h3,
h5 {
  font-family: $cool-font;
}
